.idea/
cmake-build-debug/
array_test1.data
bulgarian.data
main.exe
simulator.exe
std.txt
premain.cpp
premain.exe
array_test2.data
basicopt1.data
bulgarian.dump
sample.data
statement_test.data
superloop.data
